body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.4;
  background: #f5f6fa;
}

.replies-box{
    margin-left: 30px;
    padding-left: 30px;
    /* background-color: red; */
    border-left: 1px solid #e3e3e3;
    
  }

.App{
  margin: 20px 0;
}

@media (max-width:576px){
  .replies-box{
    margin-left: 10px;
    padding-left: 10px;
  }
}

  